{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container my-5">
    <h2 class="text-center">Edit Profile</h2>
    <div class="card shadow-sm p-4">
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    {{ form.email }}
                </div>
                <div class="col-md-6">
                    <label class="form-label">Phone Number</label>
                    {{ form.phone_number }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label">Street Address 1</label>
                    {{ form.street_address1 }}
                </div>
                <div class="col-md-6">
                    <label class="form-label">Street Address 2</label>
                    {{ form.street_address2 }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    <label class="form-label">Town/City</label>
                    {{ form.town_or_city }}
                </div>
                <div class="col-md-4">
                    <label class="form-label">County</label>
                    {{ form.county }}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Postcode</label>
                    {{ form.postcode }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label">Country</label>
                    {{ form.country }}
                </div>
                <div class="col-md-6">
                    <label class="form-label">Profile Image</label>
                    {{ form.profile_image }}
                    {% if user_profile.profile_image %}
                        <img src="{{ user_profile.profile_image.url }}" class="img-fluid rounded mt-2" width="100" alt="Profile Image">
                    {% endif %}
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-4">Update Profile</button>
        </form>
    </div>
</section>
{% endblock %}
