{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center text-primary">{{ category.name }}</h2>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="text-primary">${{ product.price }}</p>
                        <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No products found in this category.</p>
        {% endfor %}
    </div>
{% endblock %}
